//portfolio items

// A N I M A T I O N S
#animation1{
	background-image: URL("../../images/animation/animation1.png") ;
}

#animation2{
	background-image: URL("../../images/animation/animation2.jpg") ;
}

#animation3{
	background-image: URL("../../images/animation/animation3.jpg") ;
}

#animation4{
	background-image: URL("../../images/animation/animation4.jpg") ;
}

#animation5{
	background-image: URL("../../images/animation/animation5.jpg") ;
}

#animation6{
	background-image: URL("../../images/animation/animation6.jpg") ;
}

#animation7{
	background-image: URL("../../images/animation/animation7.jpg") ;
}

#animation8{
	background-image: URL("../../images/animation/animation8.jpg") ;
}

// T H R E E   D

#threed1{
	background-image: URL("../../images/3d/3d1.jpg") ;
}

#threed2{
	background-image: URL("../../images/3d/3d2.jpg") ;
}

#threed3{
	background-image: URL("../../images/3d/3d3.jpg") ;
}

#threed4{
	background-image: URL("../../images/3d/3d4.jpg") ;
}

#threed5{
	background-image: URL("../../images/3d/3d5.jpg") ;
}

#threed6{
	background-image: URL("../../images/3d/3d6.jpg") ;
}

#threed7{
	background-image: URL("../../images/3d/3d7.jpg") ;
}

#threed8{
	background-image: URL("../../images/3d/3d8.jpg") ;
}

// I L L U S T R A T I O N S 

#illustration1{
	background-image: URL("../../images/illustration/illustration1.jpg") ;
}

#illustration2{
	background-image: URL("../../images/illustration/illustration2.jpg") ;
}

#illustration3{
	background-image: URL("../../images/illustration/illustration3.jpg") ;
}

#illustration4{
	background-image: URL("../../images/illustration/illustration4.jpg") ;
}

#illustration5{
	background-image: URL("../../images/illustration/illustration5.jpg") ;
}

#illustration6{
	background-image: URL("../../images/illustration/illustration6.jpg") ;
}

#illustration7{
	background-image: URL("../../images/illustration/illustration7.jpg") ;
}

#illustration8{
	background-image: URL("../../images/illustration/illustration8.jpg") ;
}


// P E R S O N A L

#personal1{
	background-image: URL("../../images/personal/personal1.jpg") ;
}

#personal2{
	background-image: URL("../../images/personal/personal2.jpg") ;
}

#personal3{
	background-image: URL("../../images/personal/personal3.jpg") ;
}

#personal4{
	background-image: URL("../../images/personal/personal4.jpg") ;
}

#personal5{
	background-image: URL("../../images/personal/personal5.jpg") ;
}

#personal6{
	background-image: URL("../../images/personal/personal6.jpg") ;
}

#personal7{
	background-image: URL("../../images/personal/personal7.jpg") ;
}

#personal8{
	background-image: URL("../../images/personal/personal8.jpg") ;
}




// T H E S I S 

#thesis01{
	background-image: URL("../../images/thesis/thesis01.jpg") ;
}

#thesis02{
	background-image: URL("../../images/thesis/thesis02.jpg") ;
}

#thesis03{
	background-image: URL("../../images/thesis/thesis03.jpg") ;
}

#thesis04{
	background-image: URL("../../images/thesis/thesis04.jpg") ;
}

#thesissb1{
	background-image: URL("../../images/thesis/storyboard1.jpg") ;
}

#thesissb2{
	background-image: URL("../../images/thesis/storyboard2.jpg") ;
}

#thesissb3{
	background-image: URL("../../images/thesis/storyboard3.jpg") ;
}

#thesissb4{
	background-image: URL("../../images/thesis/storyboard4.jpg") ;
}

#thesisapp1{
	background-image: URL("../../images/thesis/animatic1.jpg") ;
}

#thesisapp2{
	background-image: URL("../../images/thesis/animatic2.jpg") ;
}

#thesisapp3{
	background-image: URL("../../images/thesis/app1.jpg") ;
}

#thesisapp4{
	background-image: URL("../../images/thesis/app2.jpg") ;
}
